<!---<form action="">
  <input type="email">
  <input type="password" name="" id="">
  <a href="dashboard">Ingresar</a>
</form>-->

<mat-toolbar style="background-color:#424242">
  <span>INGRESAR</span>
</mat-toolbar>
<div class="ingresar">
    <button mat-raised-button  routerLink="" color="warn">Salir</button></div>
<form>
<form>
<div>
    <mat-form-field >
      <input matInput placeholder="email">
    </mat-form-field>
    <br>
    <mat-form-field >
        <input matInput placeholder="password">
      </mat-form-field>
      <br>
    <!---  <a href="dashboard">Ingresar</a>-->
      <a href="dashboard">Ingresar</a>
    </div>
  </form>